.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid;
  border-color: var(--border-color);
}
  
.header__container {
  display: flex;
  align-items: center;
}

.header__contacts {
  text-decoration: none;
  color: var(--main-text-cl);
}

.header__contacts {

  & .header__item + .header__item {
    margin-left: 50px;
  }
}

.header__link {
  @extend .header__contacts;

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.header__nav {
  & .header__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

.header__link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--add-cl);
  transition: color var(--standard-animation);
  display: flex;
  align-items: center;
}

.header__link--right {
  color: var(--main-text-cl);
}

.header__nav {
  display: inline-flex;
  color: var(--add-cl);
  align-items: center;
}

.header__item {
  display: inline-flex;
  margin-left: auto;
  align-items: center;
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

.header__link--current {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--accent-cl);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-cl);
    display: block;
    bottom: -1px;
    border-radius: 2px;
  }
}

.header__icon {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  fill: var(--main-text-cl);
  transition: fill var(--standard-animation);

  .header__link:hover &,
  .header__link:focus & {
    fill: var(--accent-cl);
  }
}

