.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    min-width: 200px;
    min-height: 50px;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    background-color: var(--accent-cl);
    color: var(--wh-cl);
    border-radius: 4px;
    text-align: center;
    border-color: transparent;
    box-shadow: var(--homepage-shadow);
    padding: 0;
    cursor: pointer;
  }