.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  & .mobile-menu__close {
    display: none;
  }

  &.is-open .mobile-menu__close {
    display: block;
  }

  &.is-open .mobile-menu__open {
    display: none;
  }
}

.mobile-menu__icon {
  width: 40px;
  height: 40px;
}
